.ads {
  text-align: right;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: lightgray;
  margin-left: 80rem;
  object-fit: contain;
}

.ads_text {
  text-align: center;
  margin-top: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}